<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Vidéo DASH Streaming</title>
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <style>
        body { text-align: center; font-family: Arial, sans-serif; }
        video { width: 80%; max-width: 800px; border-radius: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
    </style>
</head>
<body>

    <h1>📺 Lecture DASH Adaptive Streaming</h1>

    <video id="videoPlayer" controls></video>

    <script>
        var url = "{{ url_for('serve_dash', filename='V3.mpd') }}";
        var player = dashjs.MediaPlayer().create();
        player.initialize(document.querySelector("#videoPlayer"), url, true);
    </script>

</body>
</html>
